/* Language: CSS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #535353;
    --first-color-light: #E2E5F6;
    --white-color: #ffffff;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100                                                      
}*,
::before,::after{box-sizing: border-box}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a{text-decoration: none}

/* Header */
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #ffffff;
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: #535353;
    font-size: 1.75rem;
    cursor: pointer;
}

.header_img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img{width: 40px}

#i--account--admin {
    display: inline-flex;
    justify-content: flex-end;
}

button.btn.ms-4.mt-2 {
    border-color: black;
    border-width: 0.2rem;
}

#i--button--logout {
    color: black;
}

#i--button--logout:hover {
    color: #2055b5;
}

/* Sidebar */

.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 -1;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo{margin-bottom: 2rem}

#i--logo--erovoutika {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 1.5rem
}

.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name{
    color: var(--white-color);
    font-weight: 700
}

.nav_link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_list {
    margin-left: .7rem;
}

.nav_link:hover{color: var(--white-color)}

.nav_icon{font-size: 1.75rem}

a.btn.ms-3.mb-3 {
    background-color: #3333CC;
    color: #ffffff;
}

/* Main Content */
#i--container--mainContent{
    padding-top: 1rem;
    margin-top: 1rem
}

#i--line--blue{
    background: #2055B5;
    height: .5rem;
    width: 17rem
}

/* Cards */
.card {
    border-color: #0C2A73;
    border-radius: .5rem;
    border-width: .3rem;
    flex-direction: row;
}

.card img {
    height: 150px;
}

.c-a--examlist{
    background: #2055B5;
}

.show{left: 0}

.body-pd{padding-left: calc(var(--nav-width) + 1rem)}

.active{color: var(--white-color)}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img{
        width: 50px;
        height: 50px
    }

    .header_img img{width: 45px}

    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
        width: 6rem;
    }

    .show{width: calc(var(--nav-width) + 156px)}

    .body-pd{padding-left: calc(var(--nav-width) + 188px)}
}
