/*Spacing*/
.mr-03{
    margin-right: 3%;
}

.mr-07{
    margin-right: 7%;
}

.mr-1{
    margin-right: 10%;
}

.ml-1{
    margin-left: 17%;
}

.ml-7{
    margin-left: 70%;
}

/*Icons*/
.bi-person-fill{
    font-size: 35px;
}

/*Main Content*/
body{
    color: #1a202c;
    text-align: left;
}

.main-body {
    padding: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: .9rem;
    border-width: .2rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

/* Non-BootStrap*/
.exam_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
    text-align: left;
}

@media (max-width: 820px) {
  .exam_container {
    min-width: auto;
    display: block;
  }
}
