@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
/* Nav */
.navbar-container{
    background-color: #FFF;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    font-size: 15px;
}
header.sticky{
    background: #45b3e0;
    padding: 20px 40px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);

}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color:#111;
}
header .logo span{
    color: #2600ff;
}
header .navigation{
    position: relative;
    display: flex;

}
header .navigation li{
    list-style: none;
    margin-left: 50px;
}
header .navigation li a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: 300;
}
header.sticky .navigation li a{
    color: rgb(255, 255, 255);
}
header .navigation li a:hover{
    color: #2600ff;
}

/* Login */
/* .login{
  position: relative;
  margin-right: 20px;
} */
.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 480px;
  padding: 20px 30px;
  background: #2600ff;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}
.popup.active {
  margin-top :300px;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: rgb(147, 179, 253);
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2 {
  text-align:center;
  color: #ffffff;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup .form .form-element {
  margin: 15px 0px;
}
.popup .form .form-element label {
  font-size: 14px;
  color: #ffffff;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding :10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"] {
  margin-right : 5px;
}
.popup .form .form-element button {
  width :100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 1gpx;
  background: rgb(53, 129, 252);
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
/* Home */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/backg.jpg) no-repeat left;
    background-size: cover;
}

.imgBx{
    position: relative;
    left: 50px;
    margin-top: 50px;
}

#modal_trigger{
    height: 80px;
    font-size: 20px;
    display: inline-block;
    padding: 20px 40px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
@media screen and (max-width: 500px) {
  
  .banner,
  .imgBx,
  #modal_trigger {
      width: 20%;
  }
}
/* About Us */
.about-section{
    background: url(/img/backg.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}


/* Services */
section {
    padding: 60px 0;
    min-height: 100vh;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}.bg-gray {
    background-color: #f9f9f9;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #2600ff;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #2600ff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
  background: #2600ff none repeat scroll 0 0;
  border-color: #2600ff;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  border-left: 2px solid #2600ff;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: #2600ff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid #2600ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
  background: #2600ff none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: #ffffff;
}

.we-offer-area .item i {
  color: #2600ff;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.we-offer-area .item p {
  margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: #2600ff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
  color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: #2600ff !important;
}

.we-offer-area.text-left .item i {
  background: #2600ff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  z-index: 1;
  text-align: center;
}

.we-offer-area.text-left .item i::after {
  border: 2px solid #2600ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 120px;
  left: -10px;
  position: absolute;
  top: -10px;
  width: 120px;
}
/* Footer */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    color: black;
    padding: 30px 0 10px;
    border-top-left-radius: 125px;
    font-size: 15px;
    line-height: 15px;
    overflow: hidden;
}
.footer-row{
    width: 85%;
    margin : auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col{
    flex-basis: max-content;
    padding: 10px;
}
.footer-col:nth-child(2), footer-col:nth-child(3){
    flex-basis: 15%;
}
.footer-logo{
    width: 200px;
    height: 80px;
    margin-bottom: 3opx;
}
.company{
    text-align: justify;
    line-height: 1.6;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: rgb(3, 1, 1);
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 50px;
}
form .fa-solids{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solids{
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: rgb(4, 9, 161);
    background: #fff;
    margin-right: 50px;
    cursor: pointer;
}
hr{
    width: 90%;
    border : 0;
    border-bottom: 1px solid rgb(27, 4, 180);
    margin: 20px auto;

}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 3px;
    background: #292dff;
    border-radius: 3px;
    position: relative;
    top: 10px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
    
}

/* Portfolio */
*, *::before, *::after {
    box-sizing: border-box;
  }
  .honeycomb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(34.375px);
  }
  .honeycomb-cell {
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4761904762px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
  }
  .honeycomb-cell__title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
  }
  .honeycomb-cell__title > small {
    font-weight: 300;
    margin-top: 0.25em;
  }
  .honeycomb-cell__image {
    object-fit: cover;
    object-position: center;
  }
  .honeycomb-cell::before, .honeycomb-cell::after {
    content: '';
  }
  .honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
  }
  .honeycomb-cell::before {
    background: #fff;
    transform: scale(1.055);
  }
  .honeycomb-cell::after {
    background: #3ea0eb;
    opacity: 0.5;
    transition: opacity 350ms;
  }
  .honeycomb-cell:hover .honeycomb-cell__title {
    opacity: 0;
  }
  .honeycomb-cell:hover::before {
    background: #72f88e;
  }
  .honeycomb-cell:hover::after {
    opacity: 0;
  }
  .honeycomb__placeholder {
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
  }
  @media (max-width: 550px) {
    .honeycomb-cell {
      margin: 81.25px 25px;
    }
  }
  @media (min-width: 550px) and (max-width: 825px) {
    .honeycomb-cell:nth-child(3n) {
      margin-right: calc(50% - 125px);
      margin-left: calc(50% - 125px);
    }
    .honeycomb__placeholder:nth-child(3n + 5) {
      display: block;
    }
  }
  @media (min-width: 825px) and (max-width: 1100px) {
    .honeycomb-cell:nth-child(5n + 4) {
      margin-left: calc(50% - 275px);
    }
    .honeycomb-cell:nth-child(5n + 5) {
      margin-right: calc(50% - 275px);
    }
    .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n + 3) {
      display: block;
    }
  }
  @media (min-width: 1100px) {
    .honeycomb-cell:nth-child(7n + 5) {
      margin-left: calc(50% - 400px);
    }
    .honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
      margin-right: calc(50% - 400px);
    }
    .honeycomb__placeholder:nth-child(7n + 7), .honeycomb__placeholder:nth-child(7n + 9), .honeycomb__placeholder:nth-child(7n + 11) {
      display: block;
    }
  }

/* Contact Us */
