/*Spacing*/
.mr-03{
    margin-right: 3%;
}

.mr-1{
    margin-right: 10%;
}

.ml-1{
    margin-left: 17%;
}

/*Text Headers Size*/
h4{
    font-size: 180%;
}

/*Icons*/
.bi-card-checklist{
    font-size: 35px;
}

.bi-person-fill{
    font-size: 40px;
}

.bi-arrow-right, .bi-arrow-left{
    font-size: 30px;
}

/*Question Elements*/
ol{
    font-size: 200%;
}

label{
    width: 80%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 0px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 3px 3px #0F3695;
}

.card-body{
    background-color: #0F3695;
    font-size: 130%;
    color: white;
}
